* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("img/background.jpg") no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
}

  h1 {
    font-size: 36px;
    color: white;
    margin-bottom: 10px;
  }
  
  .buttons {
    margin-bottom: 20px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 18px;
    margin: 0 5px;
  }
  
  .game-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
  }
  
  .card {
    width: 100px;
    height: 100px;
    margin: 5px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    cursor: pointer;
    background-size: cover; 
    background-position: center; /* Center the background image */
  }

  .card:hover {
    background-color: #ddd;
  }
  
  .footer {
    margin-top: 10px;
  }